:root {
    --text-color: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background: #fff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
}

.img-responsive {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* reusable css classes */
.section {
    padding: 2rem 0 0 0;
}

.section__title {
    /* font-size: var(--h1-font-size); */
    width: 90%;
    margin: 0 auto 1.5rem auto;
}

.section__title-center {
    /* font-size: var(--h1-font-size); */
    margin: 0 auto 1.5rem auto;
    text-align: center;
}

.section__subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}

.section__subtitle,
.section__title {
    text-align: left;
}

.container-fluid {
    max-width: 100%;
}

.full-page-outer {
    max-width: 1520px;
    margin: 0 auto;
}

.row-fluid {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/* ========================Display=========================== */
.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.flex-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
}

.flex-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    align-items: center;
}

/* =========================Swiper======================== */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ======================BUTTON=========================== */

.box-btn {
    margin-top: 50px;
    width: 100%;
    position: relative;
}

.btn-primary {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #003868;
    background-color: transparent;
    padding: 10px 8px;
    min-width: 98px;
    color: #003868;
    line-height: 10px;
    height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 15px;
}

.btn-primary.btn-big {
    padding: 10px 16px;
    min-width: 180px;
    font-size: 18px;
    height: 40px;
}

.btn-submit {
    margin: auto;
    display: block;
    background-color: #003468;
    background-image: none;
    width: 340px;

    min-height: initial;
    line-height: 19px;
    border: none;
    color: #fff;
    border-radius: 5px;
    line-height: 26px;
}
/* ===================HEADER==================== */
header {
    padding-bottom: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.16));
    position: relative;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.header__container {
    height: 100px;
}

.header__top {
    margin: 10px 0;
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header__top::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: #e5e5e5;
}

.header__info-nav ul > li:not(:last-child) {
    margin-right: 15px;
}

.header__cart-nav ul > li:not(:first-child) {
    margin-left: 15px;
}

.header__logo-img {
    height: 40px;
    object-fit: center;
}

.nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__bottom {
    display: flex;
    align-items: center;
    height: 40px;
}

.header__menu {
    width: 100%;
}

.header__menu .nav__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: relative;
    list-style: none;
}

.header__search {
    width: 368px;
    margin-left: 0;
    position: relative;
    background-color: rgba(76, 76, 76, 0.1);
    border-radius: 16px;
    margin-top: 4px;
}

.header__search-input {
    background: transparent;
    border: none;
    color: #707070;
    font-size: 14px;
    padding: 4px 25px 0 10px;
    line-height: 35px;
    float: left;
    width: 95%;
    height: 35px;
    font-style: italic;
}

.header__search-btn {
    position: absolute;
    right: 10px;
    background: transparent;
    float: left;
    height: 35px;
    border: none;
}
/* =====================banner big======================== */

/* ========================banner small====================== */
.img-banner-small {
    max-width: 494px;
}

/* =======================Product======================= */
.product-container {
    padding-top: 1.2rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.product-container .swiper-wappwe {
    overflow: hidden;
}
.product-item {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.porduct__img {
    display: inline-block;
    background-color: #f5f5f5;
    border-radius: 50%;
    min-height: 130px;
    min-width: 130px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: '';
}

.swiper-portfolio-icon {
    font-size: 2rem;
    color: var(--frist-color);
}

.swiper-button-prev {
    left: -0.5rem;
}

.swiper-button-next {
    right: -0.5rem;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    display: none;
}

.swiper-button-prev,
.swiper-button-next,
.swiper-pagination {
    outline: none;
}

.title-block-product-view {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-block-product-view > a {
    text-decoration: underline;
    color: #003868;
}
/* ==================================product-hot==================================== */
.product__hot {
    padding: 0 20px;
}

.product__item,
.product__new-episode-item {
    background: linear-gradient(to bottom, #fff 0%, #f7f7f7 100%);
    position: relative;
    display: flex;
    flex-direction: column;
}

.product__item {
    min-width: 260px;
    min-height: 375px;
}

.product__item-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: relative;
}

.product__item-left,
.product__item-right,
.product__item-top {
    position: absolute;
    width: 40px;
    height: auto;
    object-fit: cover;
}

.product__item-left {
    bottom: 0;
    left: 0;
}

.product__item-right {
    bottom: 0;
    right: 0;
}

.product__item-top {
    top: 0;
    right: 0;
}

.product__item-price {
    margin-top: 5px;
    color: rgb(255, 206, 27);
}

.product__item-price-sale {
    font-size: 0.7rem;
    color: gray;
}

/* ===================Bo sưu tap moi========================= */
.product__new-episode {
    display: flex;
}

.product__new-episode-active {
    min-width: 320px;
    min-height: 425px;
}

.product__new-episode-active-img {
    box-shadow: 5px 5px 9px rgb(0 0 0 / 35%);
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 10px;
}

.swiper-product__new-episode {
    overflow: hidden;
}

.product__new-episode-container {
    width: 900px;
    height: auto;
    overflow: hidden;
}

.product__new-episode-item {
    background: linear-gradient(to bottom, #fff 0%, #f7f7f7 100%);
    max-width: 233px;
}

.product__new-episode-item .product__item-img {
    max-width: 233px;
    height: auto;
    background-color: transparent;
}

.banner-big {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-img {
    margin-bottom: -3px;
}

.banner__img {
    width: 1972px;
    height: auto;
    margin: 0 auto;
    object-fit: cover;
}

.banner-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 3.5em;
    color: #fff;
    margin: auto;
    text-align: center;
}

.wrap-archives {
    position: relative;
    text-align: center;
    background: #000;
    height: 500px;
    padding-top: 25px;
}

.content-iframe {
    max-width: 1200px;
    margin: auto;
    height: 450px;
}

.video {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

.wrap-key-points {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
.top-key-points {
    width: 100vw;
    height: 190px;
    text-align: center;
    background: #003468;
}

.top-key-points > span {
    color: #fff;
    font-size: 3.5em;
    height: 170px;
    display: block;
    padding-top: 20px;
}

.bottom-key-points {
    display: flex;
    max-width: 1200px;
    margin: -70px auto 0px auto;
}
.bottom-key-item {
    text-align: center;
    width: 300px;
}
.bottom-key-img {
    max-width: 130px;
    height: auto;
    margin: auto;
}
.bottom-key-img > img {
    object-fit: cover;
}

.bottom-key-desc > hr {
    width: 30%;
    height: 1px;
    margin: 10px auto;
}

.bottom-key-desc > .title {
    display: block;
    font-weight: 600;
}

.bottom-key-desc > .description {
    display: block;
    width: 150px;
    margin: auto;
    color: #c7c7c7;
}
/* ================blog================= */
.home-blog-new {
    border-top: none;
    padding: 20px 0 30px;
}

.home-blog-new > h2 {
    text-align: center;
}

.blog__container {
    display: flex;
    align-items: center;
}

.blog__img {
}
.blog__new {
    margin-left: 30px;
}
.blog__new-container {
    display: flex;
    align-items: center;
}
.blog__new-item {
    width: 318px;
    height: 393px;
}

.blog__new-item:first-child {
    margin-right: 20px;
}
.blog__new-img {
}
.blog__desc > .title {
    font-size: 1.5em;
    font-weight: 200;
    text-align: center;
    margin: 25px 0 10px;
}

.blog__new-item > .read-more {
    margin: 10px 0 0;
    padding: 6px 0;
}
/* =====================footer===================== */
footer {
    margin-top: 100px;
}

footer > .row-fluid {
    border-top: 1px solid #000000;
}

.footer__top {
    margin-top: 50px;
}

.footer__top-logo {
    width: 200px;
    margin-left: 0px;
    opacity: 1;
}

.footer__top-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.footer__bottom {
    display: grid;
    grid-template-columns: 35% 15% 30% 20%;
}

.footer__bottom-list > p {
    padding: 10px 0 0 0;
}

.footer__bottom-list > p > span {
    line-height: 20px;
    text-align: left;
}

.footer__bottom-desc {
    font-size: 1.1rem;
    font-weight: 600;
}

.footer__bottom-title {
    margin-bottom: 5px;
    font-size: 1.2rem;
    font-weight: 600;
}

.footer__bottom-connect {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0 30px;
    width: 80%;
}

.footer__bottom-connect-item {
    min-width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
}

.footer__bottom-connect-item > img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/** ==========================San pham============================ */

.breadcrumbs {
    padding: 10px 0;
    text-align: center;
}

.breadcrumbs__a {
    color: #a0a0a0;
}

.breadcrumbs__slash {
    padding: 0 10px;
    color: #a0a0a0;
}

.breadcrumbs__current {
    color: #282828;
    font-size: 14px;
    padding: 0;
    margin: 0;
    display: contents;
    font-weight: normal;
}
/* *===========================product img========================== */
.product__detail-review {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.product__detail-img {
    display: flex;
}
.product__detail-img-list {
}
.product__detail-img-item {
    margin-bottom: 5px;
    height: 76px;
    width: 76px;
    border: 1px solid #bebebe;
    border-radius: 5px;
}
.product__detail-img-item.active {
    border: 1px solid #000000;
}

.product__detail {
    padding-right: 100px;
}

.product__detail-img-big {
    order: 2;
    width: 485px;
    height: 485px;
    margin: 0 23.5px;
}

.product__detail-title {
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 200;
}
.product__detail-code {
    width: 55%;
    float: left;
}
.product__detail-rating {
    width: 40%;
    float: right;
    display: flex;
    justify-content: flex-end;
}
.product__detail-rating-start {
    margin-right: 5px;
}
.product__detail-rating-evaluate {
    text-transform: inherit;
}
.product__detail-price {
    font-size: 22px;
    font-weight: 200;
    margin-bottom: 15px;
}
.product__detail-size {
    margin-bottom: 15px;
}
.product__detail-size-text {
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.product__detail-size-text > a {
    text-decoration: underline;
}
.product__detail-size-opstion {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    gap: 10px;
}
.product__detail-size-opstion-item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 24px;
    height: 27px;
    border-radius: 5px;
    border: 1px solid #4c4c4c;
    font-size: 11px;
    cursor: pointer;
}
.product__detail-size-opstion-item.active {
    background-color: #000000;
    color: #ffffff;
}
.product__detail-endow {
    border-radius: 5px;
    border: 1px solid #003468;
    padding: 0 10px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.product__detail-endow > .title {
    background-color: #f2f2f2;
    color: #4c4c4c;
    font-weight: 400;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 10px;
    border-radius: 5px 5px 0 0;
    padding: 6px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.product__detail-endow > .desc {
}
.btn-pay {
    background: #ad2a36;
    width: 100%;
    font-size: 15px;
    color: #fff;
    border-radius: 5px;
    margin: 10px 0;
    border: none;
    line-height: 27px;
    box-sizing: border-box;
    text-transform: uppercase;
}
.btn-pay-title {
    display: block;
}
.btn-pay-sub {
    font-size: 11px;
    text-transform: none;
    font-style: italic;
    position: relative;
    top: -2px;
}
.btn-sub-pay {
    display: flex;
    gap: 10px;
}
.btn-sub-left,
.btn-sub-right {
    background-color: #003468;
    font-size: 15px;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 270px;
    border: none;
    line-height: 27px;
    box-sizing: border-box;
    text-transform: uppercase;
}

.product__detail-hotline {
    margin-bottom: 10px;
}
.product__detail-media {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.product__detail-media-icon {
}

.product__detail-desc {
}
.postion-item {
    line-height: 20px;
}

.product__detail-info {
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.tab-item-outer {
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 16%);
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.tab-list-title {
    font-size: 18px;
    padding: 12px 15px;
    position: relative;
    box-sizing: border-box;
    margin: 0;
    color: #4c4c4c;
    border-bottom: none;
    cursor: pointer;
}

/* TODO: thanh toan==================================== */
.m-check-title {
    display: inline-block;
    min-width: 220px;
    height: 40px;
    cursor: pointer;
    background-color: #002d5c;
    position: relative;
    border-radius: 6px;
    width: 120px;
    line-height: 40px;
    padding-left: 20px;
    margin-bottom: 5px;
}

.checkout-title-inner {
    color: #fff;
}

.wrap-content-cart {
    border: 1px solid #ccc;
    padding: 0px 10px;
    margin-right: 25px;
}

.group-title {
    display: block;
    padding-bottom: 30px;
    text-align: left;
    font-weight: 500;
    color: #002d5c;
    font-size: 16px;
    text-transform: uppercase;
}

.cart-info {
    display: grid;
    grid-template-columns: 35% 65%;
}

.left-cart-info{
    background: #fff;
    border: none;
    position: relative;
    display: inline-block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 0px;
    
}
.check-form{

}
.check-group{
    display: flex;
    gap: 10px;
}
.check-img{
    width: 35%;
    padding: 15px;   
    background: linear-gradient(to bottom,#fff 0%,#f7f7f7 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-img > img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.check-info{
    width: 65%;
}
.check-info-name{
    word-wrap: break-word;
    font-size: 22px !important;
    margin-bottom: 15px;
}
.check-info-code:first-child{
    margin-right: 5px;
}

.check-info-price{
    padding: 15px 0px;
    margin-bottom: 10px;
}

.check-info-size {
    margin-bottom: 15px;
}

.check-info-size > select{
    padding: 10px 0;
    line-height: 40px;
    text-align: center;
}

.check-info-amount {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

}

.check-info-amount-btn > button {
    background-color: transparent;
}

.check-info-amount-btn > input{
    text-align: center;
    width: 40px;
}

.check-info-delect{

}
.btn-delect{
    outline: none;
    background-color: transparent;
    border: none;
    margin-top: 10px;
}

.check-info-sale{
    margin: 15px 0;
    font-style: italic;
}
.check-total{
    border-top: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
}
.check-total-list{
    padding: 15px 0;
}
.check-total-item{

}
.check-total-item:first-child{
    margin-bottom: 15px;
}
.check-details{
    margin-top: 15px;
    font-size: 18px;
    font-weight: 600;
}
.check-details-price {
    color: red;
}

.wrap-content-customer{
    background: #f7f7f7;
    margin: 0 -10px;
    padding: 0 10px;
}
.info-customer{
    padding: 20px 0;
}
.group-title{

}
.form-now{
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 10px;
}
.group-radio{

}
.radio{

}
.checkout-biuding{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.checkout-biuding  > input{
    width: 100%;
    padding: 4px 8px;
    border: 1px solid #a8a8a8;
    background: #fff;
    color: #333;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 40px;
    margin-bottom: 10px;
}
.choin-ship{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.choin-ship-btn {
    width: 100%;
    padding: 15px 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
}

.choin-ship-btn.active{

    background: #002d5c;
    color: #fff;
}
.choin-ship-btn-title{

}
.choin-ship-btn-sub{

}
.ship-info-option{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 15px 0;
}
.ship-info-item{
    width: 100%;

}
.ship-info-item > select, .input-message > input {
    width: 100%;
    height: 50px;
    padding: 4px 8px;
    border: 1px solid #a8a8a8;
    background: #fff;
    color: #333;
    border-radius: 5px;
    margin-bottom: 15px;
}

.check-box-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 15px;
}

.check-box-list > label {
    
}
.wrap-button{

}
.btn-submit{
    margin: auto;
    display: block;
    background-color: #003468;
    background-image: none;
    width: 340px;
    height: 40px;
    margin-bottom: 5px;
}
.sub-btn{
    font-style: italic;
    text-align: center;
}
